---
import "../styles/global.css"; 
const { title, logo } = Astro.props;
---

<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  
  <body class="flex flex-col min-h-screen bg-[#0f172a]">
    
    <main class="flex-1 w-full max-w-7xl mx-auto px-6 py-8">

      {logo && (
        <header class="flex justify-center mb-12">
          <img src={logo} alt="Series Logo" class="h-24 w-auto object-contain drop-shadow-2xl" />
        </header>
      )}

      <slot /> 
    </main>

    <footer class="py-8 border-t border-white/5 text-center mt-auto">
      <p class="text-slate-500 text-sm font-medium">
        &copy; {new Date().getFullYear()} Rainei Lyrics List.
      </p>
    </footer>

  </body>
</html>